<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=DESKTOP-EKV3EJ1\SQLEXPRESS;Initial Catalog=MonitoreoEnergetico;Integrated Security=True"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>